@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>more information : </strong> <a href="https://docs.github.com/pt/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/setting-repository-visibility">GIT</a>
</address>
